!!! 5
html
  head
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    //
              /**
              * o------------------------------------------------------------------------------o
              * | This file is part of the RGraph package - you can learn more at:             |
              * |                                                                              |
              * |                          http://www.rgraph.net                               |
              * |                                                                              |
              * | This package is licensed under the RGraph license. For all kinds of business |
              * | purposes there is a small one-time licensing fee to pay and for non          |
              * | commercial  purposes it is free to use. You can read the full license here:  |
              * |                                                                              |
              * |                      http://www.rgraph.net/LICENSE.txt                       |
              * o------------------------------------------------------------------------------o
              */
          
    title RGraph: A basic example
    meta(name='keywords', content='rgraph javascript charts html5 canvas basic example')
    meta(name='description', content='A basic example of an RGraph chart for implementation help')
    meta(name='googlebot', content='NOODP')
    //
       1/3. Include the RGraph libraries 
    script(src='javascripts/RGraph.common.core.js')
    script(src='javascripts/RGraph.bar.js')
    //if lt IE 9
      script(src='../excanvas/excanvas.original.js')
  body
    script(src='/socket.io/socket.io.js')


    h1 A basic example
    //
       2/3. This is the canvas that the graph is drawn on 
    each server in servers
      div
        canvas(id=server)(width='400', height='250') [No canvas support]
    //
       3/3. This creates and displays the graph. As it is here, you can call this from the window.onload event,
         allowing you to put it in your pages header.
          
    script
      allServers = {}
      window.onload = function ()
      {
        servers = document.getElementsByTagName("canvas")
        // console.log(servers.length)

        var i = 0;
        for(i=0;i<servers.length;i++) {
          serv = servers[i].id
          console.log(serv)
          allServers[serv] = new RGraph.Bar(serv, [0,0,0,0]);
          allServers[serv].Set('chart.gutter.left', 35);
          allServers[serv].Set('chart.colors', ['red']);
          allServers[serv].Set('chart.ymax', 100)
          allServers[serv].Set('chart.title', serv);
          allServers[serv].Set('chart.labels', ['CPU','mem','swap','load']);
          allServers[serv].Draw();
        }
      }

      var socket = io.connect('http://localhost');
      socket.on('update', function (data) {
        // console.log(data);
        for (element in data) {
          graph = allServers[element]
          RGraph.Clear(document.getElementById(element));
          console.log(element)
          console.log(data)
          graph.data = data[element]
          console.log(graph);
          graph.Draw();
        }
        // socket.emit('my other event', { my: 'data' });
      });

    p
      | This is a very basic example that does little more than display a chart. If youre trying to understand how RGraph
      | works, this should help as there is very little happening on this page. To see the source code of this
      | page simply view the source (Right click
      | View Source).
